# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
from datetime import datetime
import pandas_datareader as pdr

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start = pd.to_datetime('01-01-2015')
end = datetime.today()
t_range = pd.date_range(start, end, freq='1D')
t_range

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
               '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
               '2020-04-17', '2020-04-18'],
              dtype='datetime64[ns]', length=1935, freq='D')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [12]:
stocks = ['AAPL', 'TSLA', 'IBM']

### Step 4. Read the data from google, assign to df and print it

In [13]:
# df = web.DataReader(stocks, 'google', start, end)
df = pdr.get_data_yahoo(stocks, start, end)
df.head()

Attributes   Adj Close                               Close              \
Symbols           AAPL         IBM        TSLA        AAPL         IBM
Date
2015-01-02  100.216454  129.241516  219.309998  109.330002  162.059998
2015-01-05   97.393181  127.207932  210.089996  106.250000  159.509995
2015-01-06   97.402374  124.464600  211.279999  106.260002  156.070007
2015-01-07   98.768150  123.651100  210.949997  107.750000  155.050003
2015-01-08  102.563072  126.338654  210.619995  111.889999  158.419998

Attributes                    High                                 Low  \
Symbols           TSLA        AAPL         IBM        TSLA        AAPL
Date
2015-01-02  219.309998  111.440002  163.309998  223.250000  107.349998
2015-01-05  210.089996  108.650002  161.270004  216.500000  105.410004
2015-01-06  211.279999  107.430000  159.960007  214.199997  104.629997
2015-01-07  210.949997  108.199997  157.199997  214.779999  106.699997
2015-01-08  210.619995  112.150002  159.039993  213.800003  108.699997

Attributes                                Open                          \
Symbols            IBM        TSLA        AAPL         IBM        TSLA
Date
2015-01-02  161.000000  213.259995  111.389999  161.309998  222.869995
2015-01-05  159.190002  207.160004  108.290001  161.270004  214.550003
2015-01-06  155.169998  204.210007  106.540001  159.669998  210.059998
2015-01-07  154.029999  209.779999  107.199997  157.199997  213.350006
2015-01-08  155.550003  210.009995  109.230003  156.240005  212.809998

Attributes      Volume
Symbols           AAPL        IBM       TSLA
Date
2015-01-02  53204600.0  5525500.0  4764400.0
2015-01-05  64285500.0  4880400.0  5368500.0
2015-01-06  65797100.0  6146700.0  6261900.0
2015-01-07  40105900.0  4701800.0  2968400.0
2015-01-08  59364500.0  4236800.0  3442500.0

### Step 5.  What is the type of structure of df ?

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1332 entries, 2015-01-02 to 2020-04-17
Data columns (total 18 columns):
(Adj Close, AAPL)    1332 non-null float64
(Adj Close, IBM)     1332 non-null float64
(Adj Close, TSLA)    1332 non-null float64
(Close, AAPL)        1332 non-null float64
(Close, IBM)         1332 non-null float64
(Close, TSLA)        1332 non-null float64
(High, AAPL)         1332 non-null float64
(High, IBM)          1332 non-null float64
(High, TSLA)         1332 non-null float64
(Low, AAPL)          1332 non-null float64
(Low, IBM)           1332 non-null float64
(Low, TSLA)          1332 non-null float64
(Open, AAPL)         1332 non-null float64
(Open, IBM)          1332 non-null float64
(Open, TSLA)         1332 non-null float64
(Volume, AAPL)       1332 non-null float64
(Volume, IBM)        1332 non-null float64
(Volume, TSLA)       1332 non-null float64
dtypes: float64(18)
memory usage: 197.7 KB

In [11]:
# df.columns = ['__'.join(c).strip() for c in df.columns.values]
# df.columns

Index(['Adj Close__AAPL', 'Adj Close__IBM', 'Adj Close__LNKD',
       'Adj Close__TSLA', 'Close__AAPL', 'Close__IBM', 'Close__LNKD',
       'Close__TSLA', 'High__AAPL', 'High__IBM', 'High__LNKD', 'High__TSLA',
       'Low__AAPL', 'Low__IBM', 'Low__LNKD', 'Low__TSLA', 'Open__AAPL',
       'Open__IBM', 'Open__LNKD', 'Open__TSLA', 'Volume__AAPL', 'Volume__IBM',
       'Volume__LNKD', 'Volume__TSLA'],
      dtype='object')

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [15]:
df.sample(10)

Attributes   Adj Close                               Close              \
Symbols           AAPL         IBM        TSLA        AAPL         IBM
Date
2019-12-13  274.498535  132.823044  358.390015  275.149994  134.210007
2016-11-08  105.840378  134.961990  194.940002  111.059998  155.169998
2015-03-23  117.066200  132.212097  199.630005  127.209999  164.630005
2016-09-26  107.025368  132.722900  208.990005  112.879997  153.979996
2018-02-01  162.465912  146.729019  349.250000  167.779999  162.399994
2017-05-17  144.402939  133.604675  306.109985  150.250000  150.929993
2015-08-24   95.724899  117.956184  218.869995  103.120003  143.470001
2018-08-16  208.935715  135.528763  335.450012  213.320007  145.339996
2018-09-19  213.881897  138.997650  299.019989  218.369995  149.059998
2016-07-11   91.454613  132.740112  224.779999   96.980003  155.330002

Attributes                    High                                 Low  \
Symbols           TSLA        AAPL         IBM        TSLA        AAPL
Date
2019-12-13  358.390015  275.299988  135.500000  365.209991  270.929993
2016-11-08  194.940002  111.720001  155.929993  197.490005  109.699997
2015-03-23  199.630005  127.849998  165.350006  200.500000  126.519997
2016-09-26  208.990005  113.389999  154.460007  211.000000  111.550003
2018-02-01  349.250000  168.619995  164.130005  359.660004  166.759995
2017-05-17  306.109985  154.570007  154.139999  314.630005  149.710007
2015-08-24  218.869995  108.800003  147.759995  231.399994   92.000000
2018-08-16  335.450012  213.809998  145.679993  342.279999  211.470001
2018-09-19  299.019989  219.619995  149.960007  300.000000  215.300003
2016-07-11  224.779999   97.650002  156.039993  226.779999   96.730003

Attributes                                Open                          \
Symbols            IBM        TSLA        AAPL         IBM        TSLA
Date
2019-12-13  134.009995  354.640015  271.459991  134.750000  361.049988
2016-11-08  153.059998  191.259995  110.309998  154.559998  193.789993
2015-03-23  162.729996  197.470001  127.120003  162.770004  198.500000
2016-09-26  153.460007  206.500000  111.639999  154.460007  206.500000
2018-02-01  161.899994  348.630005  167.169998  163.190002  351.000000
2017-05-17  150.889999  305.500000  153.600006  153.300003  314.390015
2015-08-24  143.000000  195.000000   94.870003  143.470001  202.789993
2018-08-16  144.369995  333.820007  211.750000  144.369995  339.910004
2018-09-19  148.229996  280.500000  218.500000  148.630005  280.510010
2016-07-11  154.500000  219.509995   96.750000  154.600006  219.960007

Attributes       Volume
Symbols            AAPL         IBM       TSLA
Date
2019-12-13   33396900.0   2535000.0  6570900.0
2016-11-08   24254200.0   3921900.0  3267600.0
2015-03-23   37709700.0   5930100.0  2631600.0
2016-09-26   29869400.0   2533300.0  2394400.0
2018-02-01   47230800.0   4434200.0  4197700.0
2017-05-17   50767700.0   5191500.0  6711900.0
2015-08-24  162206300.0  10189700.0  9581600.0
2018-08-16   28500400.0   5250700.0  6064000.0
2018-09-19   27123800.0   4246200.0  8294900.0
2016-07-11   23794900.0   2833700.0  5429800.0

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [19]:
vol = df['Volume']
vol.sample(10)

Symbols           AAPL        IBM        TSLA
Date
2017-12-14  20476500.0  4637400.0   5799900.0
2016-04-22  33683100.0  5191900.0   3786300.0
2019-12-16  32046500.0  3049200.0  18174200.0
2018-04-20  65491100.0  8265600.0   5627900.0
2017-05-22  22966400.0  3302100.0   4329200.0
2016-12-08  27068300.0  3266400.0   3194100.0
2020-03-25  75900500.0  8654000.0  21222700.0
2019-12-17  28539600.0  2907200.0   8496800.0
2019-01-18  33751000.0  6008500.0  24150800.0
2018-01-08  20567800.0  5237500.0   9859400.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [20]:
vol.resample('W').sum()

Symbols            AAPL         IBM         TSLA
Date
2015-01-04   53204600.0   5525500.0    4764400.0
2015-01-11  283252500.0  24454000.0   22709600.0
2015-01-18  304226600.0  23259800.0   30799200.0
2015-01-25  198737000.0  31244800.0   16211700.0
2015-02-01  465842700.0  32928000.0   15720200.0
2015-02-08  270757300.0  22440200.0   19047600.0
2015-02-15  303206800.0  18165000.0   40472600.0
2015-02-22  194354900.0  14110300.0   17829400.0
2015-03-01  368216200.0  22941400.0   29367900.0
2015-03-08  246938500.0  21117800.0   28165800.0
2015-03-15  326514100.0  26136200.0   26874900.0
2015-03-22  266672900.0  25685100.0   28088500.0
2015-03-29  209326300.0  23579000.0   24744800.0
2015-04-05  162031800.0  16765800.0   23921100.0
2015-04-12  182207500.0  13917200.0   30974700.0
2015-04-19  171186100.0  17538300.0   12865600.0
2015-04-26  207440700.0  35441600.0   20693800.0
2015-05-03  420972300.0  21878700.0   30887700.0
2015-05-10  271892000.0  16798800.0   29626500.0
2015-05-17  208301500.0  13436600.0   24899400.0
2015-05-24  217297400.0  11939200.0   14976700.0
2015-05-31  198148600.0  12442000.0   14343500.0
2015-06-07  170840800.0  13867700.0   11897000.0
2015-06-14  220114600.0  18364200.0   14549000.0
2015-06-21  198525200.0  20763400.0   14929500.0
2015-06-28  195594000.0  20940400.0   17531800.0
2015-07-05  150981900.0  12979200.0   15830900.0
2015-07-12  275718300.0  18144000.0   22393100.0
2015-07-19  189244900.0  17138600.0   13509600.0
2015-07-26  344269000.0  37124300.0   19255900.0
...                 ...         ...          ...
2019-09-29  116445200.0  12242800.0   49659700.0
2019-10-06  158621700.0  15632400.0   40753300.0
2019-10-13  147176400.0  13863200.0   38395500.0
2019-10-20  105677400.0  33604900.0   33841000.0
2019-10-27   97030500.0  19256200.0   74609200.0
2019-11-03  163555400.0  16141000.0   52647300.0
2019-11-10  105990200.0  17179900.0   44207800.0
2019-11-17  115333400.0  16026700.0   37040100.0
2019-11-24  113956300.0  16986400.0   41830900.0
2019-12-01   75270300.0  11489500.0   28308100.0
2019-12-08  114149800.0  17272500.0   29518200.0
2019-12-15  142029400.0  17761300.0   39084000.0
2019-12-22  183180000.0  20036500.0   73651800.0
2019-12-29   96609500.0   8887200.0   41953900.0
2020-01-05  131680800.0  13418700.0   50182700.0
2020-01-12  167522900.0  16848300.0  100559300.0
2020-01-19  163013900.0  21202100.0  108248400.0
2020-01-26  115921300.0  34952500.0   83177100.0
2020-02-02  216683700.0  34724500.0   87923100.0
2020-02-09  163134600.0  43719200.0  213540400.0
2020-02-16  123065900.0  23432600.0   90392200.0
2020-02-23  119158800.0  12493300.0   73754400.0
2020-03-01  349603500.0  38505100.0   95409600.0
2020-03-08  323450200.0  35063400.0   84543600.0
2020-03-15  404209900.0  55629500.0   87540000.0
2020-03-22  405065900.0  47541800.0  126751300.0
2020-03-29  346047500.0  39933800.0   92330500.0
2020-04-05  209252700.0  28888200.0   85543300.0
2020-04-12  183929800.0  23364900.0   59127600.0
2020-04-19  206895400.0  27248600.0  109947000.0

[277 rows x 3 columns]

### Step 9. Find all the volume traded in the year of 2015

In [45]:
# vol[list(vol.index.year)==2015] # vol
mask = vol.index.year==2015
vol[mask].sum()

Symbols
AAPL    1.306605e+10
IBM     1.105583e+09
TSLA    1.088218e+09
dtype: float64

### BONUS: Create your own question and answer it.